/*
*
{
	border : 1px red solid;
	min-height : 200px;
}
*/
* {
    box-sizing: border-box;
   
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

img
{
	max-width: 100%;
}
.row
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.box
{
	width : 100%;
}

.nopadding-margin
{
	margin : 0;
	padding: 0;
}

.no-margin 
{
	margin : 0;
}

.little-padding
{
	padding: 3px;
}

.link-social-nav
{
	margin-left: 0.3em;
	text-align: center;
	text-decoration: none;
	color: #999a9b;
	font-size : 1em;
}

.center-block
{
	margin-left: auto;
	margin-right: auto;
}

.center-block-both
{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text-center
{
	text-align: center;
}

.full-width
{
	width : 100%;
}

.absolute
{
	position: absolute;
}

/*
.big-icon
{
	font-size : 2em !important;
}
*/

/*
.rounded-base-icon
{
	border-radius: 50%;
	color : #dfe0e0;
	padding : 10px;
	width: 50px;
	height: 50px;
}
*/

.social-nav
{
	text-align: center;
}

.icon-content
{
	width: 25%;
}

.icon-social-nav
{
	width: 50px;
}

.text-logo
{
	text-align : center;
}

.responsive-background
{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.banner
{
	background-image : url("../images/slider.jpg");
	height: 60vh;
	/* for see a square when loading*/
	background-color: #464646;
	position: relative;

}

.bg-light-orange
{
	background : #FFAB91;
}

.button-content
{
	height: 33px;
    min-width: 200px;
    width: 200px;
    font-size: 1.5em;
    text-align: center;
}

.text-banner-block
{
	/*padding: 10%;*/
	padding-top: 5em;
	padding-bottom: 0;
}

.brigther-info-image
{
	order: 0;
	background: url("../images/dentist.jpg");

}

.brigther-info-text
{
	width: 100%;
	order: 1;
	height: 50vh;

}

.info-text
{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	height: 50vh;

}

.info-image
{
	width: 100%;
	height: 50vh;

}

.professional-tech-image
{
	order: 0;
	background: url("../images/professional-tec.jpg");
	
}

.professional-tech-text
{
	order: 1;
}

.women-info-image
{
	order: 0;
	background : url("../images/dentist.jpg");
}

.women-info-text
{
	order: 1;

}








